<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened
    ><mat-list role="list">
      <mat-list-item
        routerLink="p1"
        role="listitem"
        [routerLinkActive]="'active'"
        >pokemon</mat-list-item
      >
      <mat-list-item
        routerLink="p2"
        role="listitem"
        [routerLinkActive]="'active'"
        >cat</mat-list-item
      >
      <mat-list-item
        routerLink="p3"
        role="listitem"
        [routerLinkActive]="'active'"
        >pagina 3</mat-list-item
      >
    </mat-list></mat-drawer
  >

  <mat-drawer-content>
    <mat-toolbar>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>

      <input
        matInput
        placeholder="find pokemon"
        value=""
        (input)="api.scritte($event)"
      />

      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
