@import "node_modules/bootstrap-icons/font/bootstrap-icons.css";

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.active {
  background: rgb(197, 0, 0);
}
.example-spacer {
  flex: 1 1 auto;
}
.fill {
  height: 100%;
}
.cerchio {
  border-radius: 50%;
  background-color: blueviolet;
  height: 50%;
  width: 50%;
  align-items: centers;
}
