.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.card {
  display: flex;
  flex-direction: row;
}
.full-card {
  max-width: 100%;
  height: 90vh;
  margin-bottom: 8px;
}
