<div class="row my-5 pt col-12 justify-content-center" *ngIf="!cart; else list">
  <div class="card col-2 m-3 p-0" *ngFor="let piatto of piatti">
    <img [src]="piatto.img" class="img-fluid" alt="..." />
    <div class="card-body">
      <h2 class="card-title">{{ piatto.name }}</h2>
      <p class="card-text">cost {{ piatto.prezzo }}$</p>

      <button class="btn btn-primary" (click)="add(piatto)">
        Ordina <i class="bi bi-1-square"></i>
      </button>
    </div>
  </div>
</div>

<ng-template #list>
  <div class="rounded-4 card bg-secondary mt-5">
    <h1 class="text-center mt-5">Prodotti selezionati</h1>
    <table class="table table-bordered border-danger">
      <tr class="table-primary">
        <button class="btn btn-danger position-relative my-3" routerLink="/p3">
          <i class="bi bi-backspace-fill bg-danger"></i>
        </button>
      </tr>
      <thead class="text-success"></thead>
      <tbody>
        <tr *ngFor="let piatto of api.carrello" class="text-center centro">
          <td scope="" class="" style="width: 7rem">
            <img [src]="piatto.img" alt="" style="width: 6rem" />
          </td>
          <td class="table-active align-self-center">
            {{ piatto.name }}
          </td>
          <td>cost {{ piatto.prezzo * piatto.ordini }}$</td>

          <td>
            <button
              type="button"
              class="btn btn-primary"
              (click)="plus(piatto)"
            >
              <i class="bi bi-plus"></i>
            </button>
            {{ piatto.ordini }}
            <button
              type="button"
              class="btn btn-primary"
              (click)="less(piatto)"
            >
              <i class="bi bi-dash"></i>
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-outline-danger"
              (click)="kik(piatto)"
            >
              <i class="bi bi-trash3-fill"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div
      class="modal fade"
      id="exampleModalToggle"
      aria-hidden="true"
      aria-labelledby="exampleModalToggleLabel"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
              Riepilogo ordine
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p *ngFor="let piatto of api.carrello">
              {{ piatto.name }} x {{ piatto.ordini }}
            </p>
            <div>
              <h3>totale {{ this.api.carrello.sum }} $</h3>
            </div>
          </div>
          <div>
            <button
              class="btn btn-warning w-100"
              aria-label="Close"
              data-bs-dismiss="modal"
            >
              conferma ordine
            </button>
          </div>
        </div>
      </div>
    </div>

    <button
      [disabled]="api.carrello.numordini == 0"
      class="btn btn-warning"
      data-bs-target="#exampleModalToggle"
      data-bs-toggle="modal"
    >
      ordina
    </button>
  </div>
</ng-template>
